body,
html {
    height: 100%;

}

/* font-family: 'Rubik', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Mukta Mahee', sans-serif;
font-family: 'Teko', sans-serif;*/

/*----------- page template styling -----------*/

.navbar {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.00);


}

.navbar a {
    margin-top: .25em;
    font-family: 'Work Sans', sans-serif;
    color: #000;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 800;

}

.h1,
h1 {
    font-size: 36px;
    font-family: "work sans";
    font-weight: 800;
    color: #000;

}

.nav>li>a:hover {
    text-decoration: none;
    color: #D3D3D3;
    background-color: rgba(0, 0, 0, .075);
    border-radius: 25px;
}

body {
    background: url("/assets/wire_bkg_flag.png"), url("/assets/wire_sky_bkg.jpg");
    background-position: bottom, center;
    background-repeat: no-repeat;
    background-size: 100%, cover;
    padding-top: 20px;
    min-height: 100%;

    -moz-background-origin: content;
    -webkit-background-origin: content;
}

/*----------- us styling -----------*/

.text-box {
    border: none;
    padding: 0px;
    font: 24px/36px 'Work Sans', sans-serif;
    width: 100%;
    height: 300px;
    overflow: scroll;
}

a:-webkit-any-link {
    color: #000;
    cursor: pointer;
    text-decoration: none;

}

a>-webkit-any-link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #D3D3D3;
    background-color: rgba(0, 0, 0, .075);
    border-radius: 25px;

}

/*----------- news styling -----------*/

.news-scroll {
    padding-leftS: 50px;
    max-height: 600px;
    overflow: scroll;
}

.news {
    padding-left: 30px;
}

.i-twit {
    padding-right: 50px;
    float: right;
    max-height: 550px;

}

/*-----------mailing list ------------*/

/*------------- scrollbar styles ----------*/

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}


::-webkit-scrollbar-thumb {
    background: rgb(255, 105, 180, 0.5);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #A9A9A9;
}

/*----------- image styles --------------*/

.img-name:hover {
    opacity: 0.40
}



/*----------- footer styling -----------*/

.call_to_foot {
    background-color: #ef9cb5;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-weight: bold;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    opacity: 0.4;
    max-height: 60px;
}

.footer:hover {
    position: fixed;
    color: #FF66B3;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: .75;
    min-height: 130px;

}

.fa-volume-up {
    color: #000;


}

/*------------live styling ---------*/

.i-live {

    margin: 0 auto;
    text-align: center;
}

.fluid-container .fake-i-frame {
    display: inline-block;
    min-width: 100px;
    border: solid red 1px;
}

.past-gigs {

    position: relative;
    min-height: 500px;
    margin-left: 100px;
    border: solid red 1px;
}

.gigs-history {

    position: relative;
    min-height: 500px;
    margin-right: 100px;
    border: solid red 1px;
    float: right;
}

.gigs-live {
    position: relative;
    margin-right: 100px;
    float: right;
}

/*------------fake facebook iframe styling ---------*/

.fluid-container .fake-i-frame {
    min-width: 500px;
    border: solid red 1px;
}

.like-button {
    max-height: 50px;
}


/*------------media query ---------*/

@media (max-width: 1200px) {
    .i-live {
        min-height: 100px;
    }
    .img-name {
        display: none;
    }

}
